@page "{code?}"
@model KoiVeterinaryServiceCenter_FE.Pages.ErrorsModel

<h1>Oops! Something went wrong.</h1>
<p>Error Code: @Model.StatusCode</p>
<p>Please try again later or contact support if the problem persists.</p>