@page
@model KoiVeterinaryServiceCenter_FE.Pages.ExampleModel

<h1>Trang Example</h1>
<p>Nhấp vào <a href="/non-existing-page">đây</a> để thử lỗi 404.</p>
<p>Nhấp vào <a href="/cause-error">đây</a> để gây lỗi Exception.</p>