@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    @await Html.PartialAsync("_HeroCustomer")
    @await Html.PartialAsync("_AboutCustomer")
    @await Component.InvokeAsync("ServiceTop")
</div>
