@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    @await Html.PartialAsync("_HeroCustomer")
    @await Html.PartialAsync("_AboutCustomer")
<<<<<<< HEAD
    
    @* phần Service *@
    @await Component.InvokeAsync("ServiceTop")
    @await Component.InvokeAsync("AppointmentForm")
    
    
=======
    <div id="chatIcon" class="chat-icon">
        <i class="fa fa-comment"></i>
    </div>
>>>>>>> FE-CRUD_for_Service
</div>
<script>
    document.getElementById('chatIcon').addEventListener('click', function () {
        window.location.href = '/user/customer/chat';
    });
</script>
