<a asp-page="/User/Admin/DashBoard" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
<a asp-page="/User/Admin/Services" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Service</a>
<a asp-page="/User/Admin/Customer" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Customer</a>
<a asp-page="/User/Admin/Staff" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Staff</a>
<a asp-page="/User/Admin/Veterinarian" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Veterinarian</a>
