@page "/Services"
@model KoiVeterinaryServiceCenter_FE.Pages.Service.ServicesModel
@{
}
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog Post</h5>
            <h1 class="display-4">Our Latest Medical Blog Posts</h1>
        </div>
        <div class="row g-5">



           @*
               foreach(var service in ServiceList)
               {
            <div class="col-xl-4 col-lg-6">
            <div class="bg-light rounded overflow-hidden">
            <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
            <div class="p-4">
            <a class="h3 d-block mb-3" href="/service/details/@serviceId">service.Name</a>
            <p class="m-0">
            service.Description
            </p>
            </div>
            <div class="d-flex justify-content-between border-top p-4">
            <div class="d-flex align-items-center">
            <img class="rounded-circle me-2" src="img/user.jpg" width="25" height="25" alt="">
            <small>John Doe</small>
            </div>
            <div class="d-flex align-items-center">
            <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
            <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
            </div>
            </div>
            </div>
            </div>
               }
           *@

            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
                    <div class="p-4">
                        <a class="h3 d-block mb-3" href="">Dolor clita vero elitr sea stet dolor justo  diam</a>
                        <p class="m-0">
                            Dolor lorem eos dolor duo et eirmod sea. Dolor sit magna
                            rebum clita rebum dolor stet amet justo
                        </p>
                    </div>
                </div>
            </div>




            <div class="col-12 text-center">
                <button class="btn btn-primary py-3 px-5">Load More</button>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->