@page "/Services"
@using KVSC.Infrastructure.DTOs.Service
@model KoiVeterinaryServiceCenter_FE.Pages.Service.ServicesModel
@{
}
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog Post</h5>
            <h1 class="display-4">Our Latest Medical Blog Posts</h1>
        </div>
        <div class="row g-5">
            @if (Model.KoiServiceList?.Extensions?.Data != null && Model.KoiServiceList.Extensions.Data.Any())
            {
                @foreach (var service in Model.KoiServiceList.Extensions.Data)
                {
                    var category = Model.KoiServiceCategoryList.Extensions.Data.FirstOrDefault(c => c.Id == service.PetServiceCategoryId);
                    <div class="col-xl-4 col-lg-6">
                        <div class="bg-light rounded overflow-hidden">
                            <img class="img-fluid w-100" style="height: 250px; object-fit: cover;" src="@service.ImageUrl ?? " img /placeholder.jpg"" alt="@service.Name">
                            <div class="p-4">
                                <a class="h3 d-block mb-3" href="/service/details/@service.Id">@service.Name</a>
                                <p class="m-0">@category?.Description</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p>No services available.</p>
                </div>
            }
            <div class="col-12 text-center">
                <button class="btn btn-primary py-3 px-5">Load More</button>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->