## Ignore dotenv files
.env
KVSC.BackEnd/KVSC.WebAPI/Keys/*.json

## Ignore user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## MonoDevelop/Xamarin Studio user-specific files
*.userprefs

## Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options directory
.vs/

## MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NUnit test results
*.VisualState.xml
TestResult.xml
nunit-*.xml

## Ignore Visual Studio build artifacts
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## Visual Studio Trace Files
*.e2e

## Team Foundation Service
$tf/

## ReSharper files
_ReSharper*/
*.DotSettings.user

## Coverlet coverage tool
coverage*.json
coverage*.xml
coverage*.info

## NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

## MightyMoose
*.mm.*

## Web Workbench (sass)
.sass-cache/

## InstallShield output folder
[Ee]xpress/

## NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Microsoft Azure Build Output
csx/
*.build.csdef

## Microsoft Azure Emulator
ecf/
rcf/

## SQL Server files
*.mdf
*.ldf
*.ndf

## Business Intelligence Projects
*.rdl.data
*.bim.layout
*.bim_*.settings

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## StyleCop
StyleCopReport.xml

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

## Fakes Assemblies
FakesAssemblies/

## CodeRush settings
.cr/personal

## Telerik's JustMock config file
*.jmconfig

## Web server publish files
*.publishsettings
*.azurePubxml

## Click-Once directory
publish/

## Local History for Visual Studio Code
.history/

## Windows Thumbnail Cache
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

## Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

## Windows shortcuts
*.lnk

## Vim swap files
*.swp

## MacOS system files
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Node.js modules
node_modules/

## Rider (JetBrains)
.idea/
*.sln.iml

## Visual Studio Code settings (optional, adjust based on your setup)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Miscellaneous
~$*
*~
*.bak
*.swp
*.old
*.log

