@page
@model KoiVeterinaryServiceCenter_FE.Pages.Account.LogoutModel
@{
}

<div class="text-center">
    <h2>Đăng xuất thành công</h2>
    <p>Bạn đã đăng xuất khỏi tài khoản. Vui lòng đăng nhập lại để tiếp tục.</p>
</div>