<a asp-page="/User/Staff/StaffProfile" class="nav-item nav-link @((Context.Request.Path == "/User/Staff/StaffProfile") ? "active" : "")">
    <i class="fa fa-tachometer-alt me-2"></i>Dashboard
</a>
<a asp-page="/User/Staff/StaffProfile" class="nav-item nav-link @((Context.Request.Path == "/User/Staff/StaffProfile") ? "active" : "")">
    <i class="fa fa-user me-2"></i>Profile
</a>
<a asp-page="/Account/Logout" class="nav-item nav-link">
    <i class="fa fa-sign-out-alt me-2"></i>Logout
</a>