<!-- Navbar Start -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a asp-page="index.cshtml" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        @{
            var actorRole = Context.Session.GetString("ActorRole");
            var actorAvatar = Context.Session.GetString("ActorAvatar");
            @if (actorRole == "Veterinarian")
            {
                <a asp-page="/User/Veterinarian/Chat"
                   class="nav-item nav-link d-flex align-items-center text-decoration-none
                      @((Context.Request.Path == "/User/Veterinarian/Chat") ? "active" : "")
                      hover-effect">
                    <i class="fa fa-comments me-2 fa-lg"></i>
                    Koi Care Chat
                </a>
            }else if(actorRole == "Customer")
            {
                <a asp-page="/User/Customer/Chat"
                   class="nav-item nav-link d-flex align-items-center text-decoration-none
                          @((Context.Request.Path == "/User/Customer/Chat") ? "active" : "")
                      hover-effect">
                    <i class="fa fa-comments me-2 fa-lg"></i>
                    Koi Consultation
                </a>
            }
        }
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                @{
                    if (!string.IsNullOrEmpty(actorAvatar))
                    {
                        <img class="rounded-circle" src="@actorAvatar" alt="" style="width: 40px; height: 40px;">
                    }
                    else
                    {
                        <img class="rounded-circle" src="~/img/users.jpg" alt="" style="width: 40px; height: 40px;">
                    }
                }
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0 shadow">
                @if (actorRole == "Admin")
                {
                    <h6 class="dropdown-header">Admin Menu</h6>
                    <a href="/User/Admin/AdminProfile" class="dropdown-item">
                        <i class="fa fa-user me-2"></i>My Profile
                    </a>
                    <a href="/User/Admin/DashBoard" class="dropdown-item">
                        <i class="fa fa-tachometer-alt me-2"></i>Dashboard
                    </a>
                }
                else if (actorRole == "Customer")
                {
                    <h6 class="dropdown-header">Customer Menu</h6>
                    <a href="/" class="dropdown-item">
                        <i class="fa fa-home me-2"></i>HomePage
                    </a>
                    <a href="/User/Customer/Chat" class="dropdown-item">
                        <i class="fa fa-comments me-2"></i>Consultation
                    </a>
                }
                else if(actorRole == "Veterinarian")
                {
                    <h6 class="dropdown-header">Veterinarian Menu</h6>
                    <a href="/User/Veterinarian/VeternarianProfile" class="dropdown-item">
                        <i class="fa fa-user me-2"></i>My Profile
                    </a>
                    <a href="/User/Veterinarian/Chat" class="dropdown-item">
                        <i class="fa fa-comments me-2"></i>Consultation
                    </a>
                }
                else
                {
                    
                }
                <div class="dropdown-divider"></div>
                <a href="/Account/Logout" class="dropdown-item text-danger">
                    <i class="fa fa-sign-out-alt me-2"></i>Log Out
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->
