@page
@model KoiVeterinaryServiceCenter_FE.Pages.User.Customer.Appointments

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>