@page
@using KVSC.Infrastructure.DTOs.Service
@using KVSC.Infrastructure.DTOs
@model KoiVeterinaryServiceCenter_FE.Pages.User.Veterinarian.AppointmentsModel
@{
    Layout = "_LayoutBoard";
}

@await Component.InvokeAsync("GenericTable", new { items = Model.AppointmentList.Extensions.Data.Cast<IPropertyNameProvider>(), listType = "appointment" })

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (Model.ErrorMessage != null && Model.ErrorMessage.Any())
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in Model.ErrorMessage)
            {
                <li>@error.Description</li>
            }
        </ul>
    </div>
}
