@page
@model KVSC.View.Pages.User.LoginModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - HTML Codex</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Login Form Template" name="keywords">
    <meta content="Login Form Template" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper login-1">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome Back</h2>
                    <p>Create your account.<br>It's totally free.</p>
                    <a class="btn" href="">Sign Up</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Login</h2>
                    <form method="post">
                        <p>
                            <label>Username or email address<span>*</span></label>
                            <input type="text" placeholder="Username or Email" required asp-for="Request.Email" />
                        </p>
                        <p>
                            <label>Password<span>*</span></label>
                            <input type="password" placeholder="Password" required asp-for="Request.Password" />
                        </p>
                        <p>
                            <input type="submit" value="Sign In" />
                        </p>
                        <p>
                            <a href="">Forget Password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="credit">
            Template by <a href="https://htmlcodex.com">HTML Codex</a>
        </div>
    </div>
</body>
</html>
